
body {
  @include transition (all .2s ease-in-out);
  background-color: $yellow;
  color: $text;
  font-family: $sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

.sprite-hide {
  display: none;
}
 
%wrapper, 
.wrapper {
  //@include test;
  margin: 0 auto;
  max-width: 900px + 48px;
  padding: 0 24px;
} 

img {
  max-width: 100%;
}

a {
  //@include linkcolor($link, darken);
  text-decoration: none;
}

.wrap {
  position: relative;
}
